@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Jornada Ocean - MS-DEV</h3>
    <p><b>Projeto Final</b></p>
</div>

<div>

    <p>Primeiramente há uma interação no Console para o usuário definir a <b>Capacidade Máxima</b> do elevador e o 
        <b>Total de Andares</b> do edíficio.</p>

    <p>Após isso, o Elevador é instanciado e o usuário define se o Elevador vai <b>Subir</b>, <b>Descer</b>, 
        se alguma pessoa vai <b>Entrar</b> ou se alguma pessoa vai <b>Sair.</b></p>

    <p>Para realizar esse código foi criado uma classe chamada <b>Elevador</b> que tem como variáveis privadas a Capacidade Máxima, 
        Total de Andares, Qauntidade de pessoas no Elevador e o Andar Atual.</p>

    <p>Depois foi criado os métodos Entrar( ), Sair( ), Subir( ) e Descer( ) utilizando a lógica de programação do C#.</p>


</div>
